{%extends 'base.html' %}
{% block title %} Ana Sayfa {% endblock %}
{% block main %}

{%for p in posts %}
    <div>
        <h2>{{p['title']}}</h2>
        <p>{{p['content']}}</p>
        {% if 'username' in session %}
        <a  href="/{{p['_id']}}/vote/1 " >Upvote</a>
        <a  href="/{{p['_id']}}/vote/0 " >Downvote</a>
        {%endif%}
        <p class="upvotes"> likes:{{p['likes']}}</p>
        <p class="downvotes">dislikes:{{p['dislikes']}}</p>
        
    
    </div>
{%endfor%}
{% endblock %}