{%extends 'base.html' %}
{% block title %} Ana Sayfa {% endblock %}
{% block main %}
<div>
    <h2>Welcome to the jungle</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis nam, rerum odit magnam similique alias aliquid possimus corporis dolorem aliquam obcaecati cumque earum. Autem velit consequuntur debitis tempora, quisquam itaque.</p>
    <button>Up</button>
    <button>Down</button>
</div>

<div>
    <h2>Catcher in the Rye</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, earum provident odio praesentium repudiandae consequuntur quo voluptate voluptates modi! Molestias, dolore eaque. Laudantium amet mollitia repellat iusto sapiente, saepe tempora?</p>
    
</div>
{% endblock %}