{%extends 'base.html' %}
{%block title %} Yeni Yazı {%endblock%}
{%block main%} 
<form action="/newpost" method="POST">

    <table>
        <tr>
            <th><label for="post-title">Post Başlığı</label></th>
            <th><input type="text" name="post-title" required=""></br></th>
        </tr>
        <tr>
            <td><label for="post-content">Post İçeriği:</label></td>
            <td><input type="text" name="post-content" required=""></td>
        </tr>
        <tr>
            <td><button type="submit">Yazıyı Kaydet</button></td>
        </tr>
    </table>
</form>


{%endblock%}